Company Info:<br/>
{if test="company==null"}
<b>There is nothing to display here</b>
{/if}
{else}
<b>Company {company.companyName}</b><br/>
Users for this company:
<ul>
{loop list="userList" item="user"}
<li>${user.firstName} ${user.lastName}</li>
{/loop}
</ul>

{/else}
